body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #153677, #4e085f);
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: linear-gradient(135deg,  #153677, #d882ed);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: rgb(1, 16, 16);
  display:flex;
  align-items: center;
  margin-bottom: 20px;
}

h1 img{
  width: 50px;
  margin-left: 30px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #3134ea;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(image/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left:8px;

}

button:hover {
  background-color: #030303;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.delete {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
container input:checked ~ .checkmark {
  background-color: #2196F3;
}